body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(246, 248, 255);
    font-family: 'Poppins', sans-serif;
}
button{
    background: none;
    border: none;
    margin: 10px;
    width: 20px;
}
button:hover{
    transform: scale(0.9);
}
button:active{
    transform: scale(0.75);
}
.btns{
    margin-top: 10px;
}
#img_1{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    box-shadow: 5px 5px 7px rgb(185, 184, 184);
}
#img_1:hover{
    opacity: 0.85;
}
.container{
    background-color: white;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.5);
}
#progress{
    width: 200px;
    accent-color: rgb(127, 121, 146);
}
#title:hover{
    color: rgb(104, 104, 104);
}
.home{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    width: 90px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(235, 235, 235);
}
.home:hover{
    color: rgb(56, 56, 118);
    transform: scale(0.97);
    box-shadow: 3px 3px 6px rgb(183, 183, 183);
}
.home:active{
    color: rgb(92, 92, 181);
}
#time:hover{
    color: rgb(104, 104, 104);
}



